.card{
    font-family: 'Inter', sans-serif;
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 500px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid #777;
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.2);
    color: #FFF;
}
