.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    width: 96px;
    height: 96px;
    border-radius: 12px;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

img{
    width: 64px;
    height: 64px;
}

.logo-active{
    opacity: 100;
}