.register-expense-container{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 450px;
    background-color: #18181B;
    border: 1px solid #27272A;
    border-radius: 12px;
    padding: 30px;
    gap: 15px;
}


.register-expense-container h1{
    color: #FFF;
    font-size: 18px;
}

.register-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.register-input input{
    width: 100%;
    outline: none;
    height: 40px;
    border: 1px solid #3F3F46;
    background-color: #27272A;
    border-radius: 8px;
    color: #FFF;
    padding: 0 10px;
}

.register-expense-container label{
    color: #D4D4D8;
    font-size: 15px;
}

.register-expense-container button{
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s linear;
    font-weight: bold;
}

.register-expense-container button:hover{
    opacity: 0.8;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}